       *{
		 margin:0;
		 padding:0;
		 border: 2px solid red;
		}
	       
			div#wrap{
			      border: 5px solid black;
				  width:1400px;
				  margin: 0 auto;
			 }	
			 div#masthead{
			  background-color:#ebeef3;
			 }
			 div#masthead ol {
		        background-color:98c83d;
				border:2px solid black;
				padding: 3px 0;	
			 }
			div#masthead ol li {
			          border-right: 2px solid black; 
			          display:inline;
                      padding: 0 50px; 					  
			}
                  div#masthead ol li a.hover:hover {
				     background-color:98c83d;
					 padding: 8px 25px;
					 border:2px solid black;
					 color:yellow;
				 }	
            div#masthead ol li a:hover {
			        color:black;
	                text-decoration:none;
			}			
                  .MenuBox {
				 background-color:98c83d;
				   padding: 15px 30px;
				   border:2px solid black;
				 }				 
			 
			div#masthead ol li a,div#masthead ol li {
			                color:white;
							text-decoration:none;
                            font-family: 'Oswald', sans-serif;							
							}
			div#masthead p {
			     padding: 3 0 3 1012px;
				 color:black;
			}				
             
			 
			 
             div#masthead a img {
			  #border:2px solid black;
			  margin:12px 0px 20px 20px;
			 }			 
			 ul#MENU {
			           background-color:#161616;
					   margin:0px;
					   border:0px;
				ul#MENU li a {
			       display:inline;
			 }	   
			 }
			 ul#MENU li a,ul#MENU li  {
			       color:white;
			 }
			 
			 div#content{
			      border: 5px solid green;
			 }	
			 div#sidebar{
			      border: 5px solid blue;
			 }	
			 div#footer{
			      border: 5px solid pink;
			 }	
			 div#sidebar div#innersidebar1{
			      border: 5px solid cyan;
			 }
             div#sidebar div#innersidebar2{
			      border: 5px solid cyan;
			 }
             table#calender{
			      border: 2px solid black;
				  margin: 5px;
			 }