updated file

*{
	margin:0;
	padding:0;
	#border:2px solid red;
}
  /*                  START----------WRAP                  */ 
  div#wrap {
	  
	  width:1300px;
	  margin: 0 auto;
  }
  
  /*                  START----------MASTHEAD                  */
   div#masthead {
	   background-color:#ebeef3;
	   #border:2px solid red;
	   
   }
     
  div#masthead a img{
     
	 margin:12px 0px 15px 20px;
     border:2px solid red;
     	 
	  
  }
  div#masthead ol {
	   background-color:#98c83d;
       padding:4px;	   
	  border-bottom:4px solid black;
  }
  
  div#masthead ol li{
	 display:inline;
    padding:4px 50px;
	
    
	margin:	-7;
	  }
	  div#masthead ol li a,div#masthead ol li {
		  color:black;
		  text-decoration:none;
		  font-family: 'Oswald', sans-serif;
		 
		 }
  
	
	#yellow:hover {
		color:white;
		border-bottom:4px solid #f2e81c;
		background-color:#f2e81c;
		padding:5px 50px;
	}	
	#pink:hover {
		color:white;
		border-bottom:4px solid #fc1855;
		background-color:#fc1855;
		padding:5px 50px;
	}
	#queen:hover  {
		color:white;
		border-bottom:4px solid #d2ea33;
		background-color:#d2ea33;
		padding:5px 50px;
	}
	#orange:hover  {
		color:white;
		border-bottom:4px solid #fe8f05;
		background-color:#fe8f05;
		padding:5px 50px;
	}
	#blue:hover {
		color:white;
		border-bottom:4px solid #04b1eb;
		background-color:#04b1eb;
		padding:5px 50px;
	}
	#yellow a:hover,#pink a:hover,#queen a:hover,#orange a:hover,#blue a:hover{
		color:red;
	} 
	  

   div#masthead ol li#blackk {
	   background-color:black;
	   border-bottom:4px solid black;
	   color:white;
	   }	  

  
  
  /*                  START-----------CONTENT                  */
  /*                  START-----------SIDEBAR                  */
  /*                  START------------FOOTER                  */
  
  
  div#content {
	  
	  
  }
  
  
  div#sidebar {
	  
	  
  }
  
  div#footer {
	  
	  
  }