*{
	margin:0;
	padding:0;
	#border:2px solid red;
}
  /*                  START----------WRAP                  */ 
  div#wrap {
	  
	  width:1300px;
	  margin: 0 auto;
  }
  
  /*                  START----------MASTHEAD                  */
   div#masthead {
	   background-color:#ebeef3;
	   #border:2px solid red;
	   
   }
     
  div#masthead a img{
     
	 margin:12px 0px 15px 20px;
     border:2px solid red;
     	 
	  
  }
  div#masthead ol {
	   background-color:#98c83d;
       padding:8px;	   
	  #border:2px solid red;
  }
  
  div#masthead ol li{
	 display:inline;
    padding:6px 50px;
    border-bottom:2px solid black;	
	margin:-7;
	  }

   div#masthead ol li.black {
	   background-color:black;
	   color:white;
	   
   }	  

  
  
  /*                  START-----------CONTENT                  */
  /*                  START-----------SIDEBAR                  */
  /*                  START------------FOOTER                  */
  
  
  div#content {
	  
	  
  }
  
  
  div#sidebar {
	  
	  
  }
  
  div#footer {
	  
	  
  }