*{
	margin:0;
	padding:0;
	box-sizing: border-box;	
} 

/*------------------------------TopWrap-------------------------------------------*/


div.leftlogo {
    margin-left:-8px;
    height:80px;
}
 
div.leftlogo .logo{
    padding-top:24px;
    padding-bottom: 20px;
 }
 div.rightlogo {
    height:80px;
    margin-right: 5px;
 }
div.rightlogo ul{
   # background-color:red;
    float: right;
    padding-top:24px;
    padding-bottom: 20px;
}

div.rightlogo ul li {
    list-style-type: none;
    display: inline-block;
    margin-right:4px;
}  


/*------------------------------Nav-Wrap-------------------------------------------*/